@import "partials/baseline";
@import "partials/typeography";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-family: Poppins, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  overflow-x: hidden;
}
