@import "../../global/partials/colors";
@import "../../global/partials/spacing";

:host {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: url("./assets/img/bg.jpg") no-repeat center center;
    background-size: cover;
    padding: $mainSpace;
    filter: brightness(1.2);

    pe-logo {
      position: absolute;
      top: $tripleMainSpace;
      left: $tripleMainSpace;
      width: 300px;
      max-width: calc(100vw - 2 * #{$mainSpace});

      @media (max-width: 500px) {
        position: static;
        justify-self: flex-start;
        margin: $mainSpace auto;
      }
    }

    .content-container {
      width: 100%;
      max-width: $maxContentWidth;
      margin: auto;
    }
  }
}
