@import "../../../global/partials/colors";
@import "../../../global/partials/spacing";

$statementRatingButtonSize: 50px;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .statement-container {
    position: relative;
    padding: $doubleMainSpace $tripleMainSpace;
    margin: 0 auto;
    width: fit-content;
    font-size: 2rem;
    text-align: center;

    &:before, &:after {
      position: absolute;
      font-size: 10rem;
      line-height: 10rem;
      color: $pfotenEffektGreen;
      text-shadow: 5px 5px 10px rgb(0 0 0 / 70%);
    }

    &:before {
      content: '«';
      top: -3rem;
      left: -3rem;
    }

    &:after {
      content: '»';
      bottom: -2rem;
      right: -3rem;
    }

    @media (max-width: $maxContentWidth + 50px) {
      & {
        font-size: 1.5rem;

        &:before, &:after {
          font-size: 7rem;
        }

        &:before {
          top: -3rem;
          left: 0;
          z-index: -1;
        }

        &:after {
          bottom: -2rem;
          right: 0;
        }
      }
    }
  }

  .statement-rating-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;

    & > * {
      display: flex;
      flex-grow: 0;

      &:last-child {
        margin-left: auto;
      }

      &:not(:last-child) {
        margin-right: $mainSpace;
      }
    }

    .statement-rating {
      color: $pfotenEffektWhite;
      border-radius: $statementRatingButtonSize / 2;
      border: 2px solid $pfotenEffektWhite;
      overflow: hidden;
      font-weight: bold;

      & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $statementRatingButtonSize;
        height: $statementRatingButtonSize;
        flex-grow: 0;
        cursor: pointer;
        font-size: 1.2rem;
        user-select: none;
        background-color: $pfotenEffektGreen;

        @media (hover: hover) {
          &:hover {
            background-color: $pfotenEffektWhite;
            color: $pfotenEffektGreen;
          }
        }

        &:not(:last-child) {
          border-right: 2px solid $pfotenEffektWhite;
        }
      }

      @media (max-width: 530px) {
        & {
          margin: 0;
          width: 100%;

          & > * {
            width: calc(100% / 4);
          }
        }
      }
    }
  }
}
